<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421375112279-ak4olpm0dg86tsb6nfkkfjrqvp2vkaec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421375112279-ak4olpm0dg86tsb6nfkkfjrqvp2vkaec</string>
	<key>API_KEY</key>
	<string>AIzaSyCKqL2r_krKNsCMPPqQY9i0N3qhnQaZXRs</string>
	<key>GCM_SENDER_ID</key>
	<string>421375112279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oggroup.GeekGenius</string>
	<key>PROJECT_ID</key>
	<string>geekgenius-cf2f0</string>
	<key>STORAGE_BUCKET</key>
	<string>geekgenius-cf2f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:421375112279:ios:df8aeb1656e74bb478df12</string>
</dict>
</plist>
